<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/stylesheets/about.css" />
</head>
<body>
	<div>
		<ul>
			<li>Name: Elon Reeve Musk</li>
			<li>Born: Pretoria, Transvaal, South Africa</li>
			<li>Occupation: Entrepeneur, Engineer</li>
			<li>Birthday: 28/06/1971</li>
			<li>Net worth: US$27.9 billion (April 2020)</li>
		</ul>
	</div>
	<h2>Companies Portfolio</h2>
	<div class="company-portfolio">
		<img src="" alt="">
	</div>

	<a class="home-button" href="/home">Back to Home</a>
	
</body>
</html>